@page "{handler?}"
@model IndexModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@Html.Hidden("prizes", Model.Prizes)

<div class="instruction ">
    <img src="./book.png" class="instruction__button"/>
    <div class="instruction__text title-1">
        <div class="instruction__text--rate">
            Tỷ lệ: <b>1%</b> <u>500k</u>
            <br />
            <b>5%</b> <u>200k</u>
            <br />
            <b>10%</b> <u>100k</u>
            <br />
            <b>15%</b> <u>50k</u>
            <br />
            <b>70%</b> <u>20k</u>
            <br />
            <b>9%</b> <u>10k</u>
        </div>
        <div class="instruction__text--gain">

        </div>
    </div>
</div>
<div id="draw" class="">
    <div class="">
        <img src="./dragon.png" class="highlight" />
    </div>
    <div id="my-lucky" class=""></div>
</div>

<div>
    <div class="firework-1"></div>
    <div class="firework-2"></div>
    <div class="firework-3"></div>
    <div class="firework-4"></div>
    <div class="firework-5"></div>
    <div class="firework-6"></div>
    <div class="firework-7"></div>
    <div class="firework-8"></div>
    <div class="firework-9"></div>
    <div class="firework-10"></div>
    <div class="firework-11"></div>
    <div class="firework-12"></div>
    <div class="firework-13"></div>
    <div class="firework-14"></div>
    <div class="firework-15"></div>
    <div class="title" id="title">Congratulations 🎉 
        <br />
        <span id="value"></span>
    </div>
</div>